body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: rgb(239, 224, 205);
}


.list,
a, 
p {
    color: rgb(28, 187, 254);
    /* background-color: antiquewhite; */
    font-size: 20px;
    font-weight: 700;

}

.heading {
    color: blueviolet;
    background-color: rgb(100, 237, 105);
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.heading.sub {
    color: palevioletred;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

/* .heading.list li a {
    color: rgb(255, 249, 72);
}  */

img {
    width: 250px;
    height: autp;
}

a {
    text-decoration: none;
}

li {
    display: inline-block;
    border: 2px solid rgb(20, 190, 26);
    padding: 5px;
    margin: 15px;
}